.about-text {
    display: block;
    background-color: aqua;
    padding: 20px;  /* Отступы вокруг текста */
    margin: 0;
    font-size: 18px;  /* Увеличение размера шрифта, если нужно */
    text-align: center;
}

.about-text div {
    width: 60%;
    margin: 0 auto;
}

.about-text h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

.about-text p {
    margin: 0 auto;
    padding: 0;
    color: #333333;
    text-align: justify;
    line-height: 1.8;
}

.about-text ul {
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

.about-text span {
    font-weight: bold;
}

