.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto;
    padding: 0;
    margin: 0 auto;
    width: 1366px;
}

header {
    display: flex;
    flex-direction: row;
    background: #3BDA00;
    text-decoration: none;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 1010px;
}

header nav a {
    color: white;
    text-decoration: none;
}

header nav a:hover {
    color: blue;
}

header nav a:focus {
    color: darkmagenta;
}

header nav a:active {
    color: aquamarine;
}

header nav ul.list {
    margin: 20px;
    margin-right: 0;
}

header nav ul {
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 20px;
}