{% extends 'TodoApp/base.html' %}
{% load static %}
{% block title %}О сайте{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'TodoApp/css/about.css' %}">{% endblock %}
{% block content %}
    <section class="about-text">
        <div>
            <h2>О сайте TodoApp</h2>
            <p><span>TodoApp</span> — это онлайн-приложение для управления задачами, созданное с целью помочь вам повысить продуктивность и организовать свою работу.
                Мы понимаем, как сложно иногда держать в голове все важные дела, особенно когда у вас есть множество задач, проектов и сроков.
                Поэтому <span>TodoApp</span> — это идеальное решение для людей, которым нужно контролировать свои задачи, не упуская из виду ни одну деталь.</p>
            <h3>Что такое TodoApp?</h3>
            <p><span>TodoApp</span> — это удобный инструмент для планирования. С помощью этого сервиса вы можете:</p>
            <ul>
                <li>
                    <p>Легко создавать задачи, указывая важную информацию: название, описание, срок исполнения и приоритет</p>
                </li>
                <li>
                    <p>Отслеживать статус задач: решены они или ещё нет</p>
                </li>
                <li>
                    <p>Просматривать задачи, которые были просрочены</p>
                </li>
            </ul>
            <h3>Особенности TodoApp</h3>
            <ul>
                <li>
                    <p><span>Интуитивно понятный интерфейс:</span> Для нас важно, чтобы даже новые пользователи могли сразу начать использовать приложение без лишних объяснений.
                        Мы сделали так, чтобы интерфейс был максимально простым и понятным</p>
                </li>
                <li>
                    <p><span>Поддержка приоритетов и дедлайнов:</span> Вы можете назначать приоритеты задачам и устанавливать дедлайны, чтобы не упустить важные моменты</p>
                </li>
                <li>
                    <p><span>Просроченные задачи:</span> Система автоматически отслеживает просроченные задачи и отображает их в отдельной категории, чтобы вы могли быстро на них отреагировать</p>
                </li>
            </ul>
            <h3>Как это работает?</h3>
            <ul>
                <li>
                    <p><span>Создание задачи:</span> Чтобы добавить задачу, достаточно нажать на кнопку "Добавить задачу", ввести название и описание,
                        установить дедлайн и приоритет</p>
                </li>
                <li>
                    <p><span>Фильтрация задач:</span> Вы можете отсортировать задачи по их статусу: решённые, нерешённые или просроченные</p>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}